body{
    background-color: white;
}
.box1{
    background-color: rgb(42, 147, 165);
    width: 700px;
    margin-left: 130px;
    margin-top: 80px;
}
.box1 h1{
    color: #74070e;
    font-size: 60px;
    line-height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box1 p{
    font-size: 19px;
}
.review-boxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 200px;
    left: 900px;
}
.review-box{
    
    background-color: #74070e3a;
    width: 500px;
    display: flex;
    align-items: center;
}
.text{
    padding-left: 20px;
    font-size: 20px;
}
.stars{
    color: #ef9342;
    font-size: 30px;
    padding-left: 10px;
}

.box{
    background-color: #511f50;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    padding: 30px;
    margin-left: 130px;
}
.image{
    width: 40px;
    height: 40px;
}
img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 10px;
}
.heading{
    background-color: azure;
    line-height: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 19px;
}