.scale-box{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-out;

}

@keyframes move{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }
}