body{
    margin: 0%;
    background-color: rgb(218, 224, 255);
}

div{
    width: 200px;
    height: 200px;
    background-color: rgb(39, 110, 241);
    margin: 5px;
    animation: move 3s ease-out infinite ;
    transition: 4s ease-in;
}
 div:hover{
    /* animation-play-state: paused; */
    background-color: chartreuse;
    transform: rotate(360deg);
    transform: translate(100px, 100px); /*hover cheyyumbol position movve akkan */
 }

@keyframes move{
    0%{
        width: 200px;
        height: 300px;
        /* background-color: cornflowerblue; */
    }
    50%{
        width: 600px;
        height: 600px;
        /* background-color: rgb(228, 45, 82); */
    }
    100%{
        width: 700px;
        height: 700px;
        /* background-color: lightgreen; */
    }
}