.skew-box{
    width: 100px;
    height: 100px;
    background-color: forestgreen;

    animation: move 2s infinite 3s alternate;
}

@keyframes move{
    0%{
        transform: skew(0deg, 0deg);
        background-color: blue;
    }
    100%{
        transform: skew(20deg, 10deg);
        background-color: chartreuse;
    }
}