body{
    background-color: rgb(103, 111, 95);
}
.container{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container div{
    width: 20px;
    height: 20px;
    background-color: rgb(219, 219, 219);
    margin: 5px;
    border-radius: 50%;
}
.dot1{
    animation: typing 0.8s linear 0.1s infinite;
}
.dot2{
    animation: typing 0.8s linear 0.2s infinite;
}
.dot3{
    animation: typing 0.8s linear 0.3s infinite;
}


@keyframes typing{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}