/* body{
    height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: brown;
    animation: moveRotate 3s infinite linear forwards;
    animation-delay: 3s;
}
@keyframes moveRotate{
    0%{
        transform: translateY(0) rotate(0deg);
        background-color: blueviolet;
    }
    50%{
        transform: translateY(200px) rotate(180deg);
        background-color: burlywood;
    }
    100%{
        transform: translateX(400px) rotate(360deg);
    }
} */
body{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    animation: move 4s infinite linear ;
   
}

@keyframes move{
    0%{
        transform: translateY(0) rotate(0);
    }
    50%{
        transform: translateY(200px) rotate(180deg);
    }
    100%{
        transform: translateX(400px) rotate(360deg);
    }
}