body{
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 220px;
    height: 80px;
    background-color: brown;
    animation: move 3s infinite linear forwards;
    animation-delay: 3s;
    border-radius: 9px;
    color: aliceblue;
    border: solid 3px;
    text-align: center;
}
@keyframes move{
    0%{
        transform: translateY(0);
        background-color: rgb(150, 148, 151);
    }
    50%{
        transform: translateY(200px);
        background-color: rgb(122, 122, 122);
    }
    100%{
        transform: translateX(400px);
    }
}
