@font-face {
  font-family: 'BBH Sans Bartle';
  src: url('fonts/BBHSansBartle-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BitcountGridSingle';
  src: url('fonts/BitcountGridSingle-ELSH.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.mainH{
    font-family: 'BitcountGridSingle', monospace; /* fallback */
    src: url('fonts/BitcountGridSingle[CRSV\,ELSH\,ELXP\,slnt\,wght].ttf') format('truetype');
  font-weight: 400; /* normal weight */
  font-style: normal; /* normal or italic */
  
}