.table1{
    background-color: rgba(0, 5, 11, 0.603);
    text-align: center;
    border-radius: 8px;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h1{
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.821);
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.558);

}
@font-face {
  font-family: 'BBH Sans Bartle';
  src: url('fonts/BBHSansBartle-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.table2{
    background-color: rgba(106, 172, 248, 0.603);
    text-align: center;
    border-radius: 8px;
    color: ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h1{
  font-family: 'Oswald', sans-serif;
  color: rgba(215, 239, 236, 0.821);
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.558);

} 