body{
    background-color: rgb(204, 150, 193);
}
div{
    background-color: black;
    color: aquamarine;
    /* margin-top: 50px;
    margin-left: 60px;
    margin-right: 100px; */
     margin: 50px; /* shorthand */


    /* padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-top: 30px; */
    padding: 30px;

    border-top: 5px solid green;
    border-left: 7px groove rgb(157, 12, 126);
    border-right: 5px dashed rgb(243, 114, 234);
    border-bottom: 5px double blue;
}