.container{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: blue;
    width: 300px;
}
.item{
    width: 200px;
    padding: 20px;
    background-color: rgb(189, 245, 136);
}
.item1{
    flex-shrink: 1;
}
.item2{
    flex-shrink: 2;
}
.item3{
    flex-shrink: 0;
}