.container{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgb(255, 0, 204);
    width: 300px;
}
.item{
    width: 200px;
    padding: 20px;
    background-color: rgb(189, 245, 136);
}
.item1{
    flex-grow: 2;
    flex-shrink: 1;

}
.item2{
    flex-grow: 1;
    flex-shrink: 0;
}
.item3{
    flex-grow: 2;
    flex-shrink: 1;
}