.container{
    display: grid;
    grid-template-columns: repeat(6,1fr) ;
    gap: 10px;
}

.box{
    background-color: blueviolet;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}