.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 100px 100px;
    gap: 10px;
}

.item{
    background: radial-gradient(rgb(145, 16, 16),rgb(79, 9, 9));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    padding: 20px;
}