/* mobile first(1 column) */
.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.item{
    background-color: cornflowerblue;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
}


/* tablet */
@media(min-width:600px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}


/* desktop */
@media(min-width:900px){
    .container{
            grid-template-columns: repeat(3,1fr);
    }
    .item{
        font-size: 25px;
        background-color: rgb(47, 209, 234);
    }
}