.box{
    background-color: lightblue;
    padding: 20px;
    border: 3px dashed darkblue;
    /* width limit */
    min-width: 200px;
    max-width: 400px;

    /* height limit */
    min-height: 150px;
    max-height: 250px;

    overflow-y: auto;

    margin: auto;
}
