*{
    background-color: black;
    padding: 10px;
}
h1{
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}
.BODY{
    color: rgb(255, 255, 255);
    
}
.box1{
    border: solid rgb(255, 255, 255) ;
    
}
.box2{
    padding: 10px;
}
.class1 ul a{
    text-decoration: none;
    color: blueviolet;
    background-color: rgba(122, 224, 241, 0.732);
    border: solid rgb(172, 113, 138) ;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
li{
    list-style-type: none;
}
/* Div{
    border: 1.6px solid rgb(179, 177, 177); 
     border-radius: 8px;
     padding: 10px;
} */