.navbar{
    display: flex;
    background: linear-gradient(to right, #ff7e5f, #fe7bdd);
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 35px;
}
.logo{
    display: flex;
    font-size: 32px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;

}
.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}

.login-btn{
    padding: 8px 16px;
    width: 75px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(204, 86, 156);
    cursor: pointer;
    font-size: 16px;
    border-radius: 100px;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #ed70a6;
}