/* mobile first (vertically aligned) */
.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: crimson;
    padding: 15px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}


/* tablet */
@media(min-width:600px){
    .menu{
    flex-direction: row;
    justify-content: space-between;
    }
}

/* desktop */
@media(min-width:900px){
    .menu a{
        font-size: 22px;
    }
}

/* @media(min-height:600px){
    .menu{
        height: fit-content;
    }
} */