.container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border: 3px solid rgb(109, 124, 93);
    overflow-x: auto;
}

.box{
    width: 150px;
    height: 100px;
    background-color: chartreuse;
    color: black;
    margin: 15px;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    border-radius: 8px;
}