.body{
    border: solid blue 50px;
}
.navbar{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 35px;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 75px;

}
.nav-links a{
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-size: 20px;
}
.logo{
    margin-left: 65px
}

.image{
    position: absolute;
    top: 150px;
    left: 730px;
}
.image img{
    width: 740px;
}
.container{
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: #e9a03a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}
h1{
    font-size: 69px;
    font-weight: 400;
}
.container h1 span{
    font-weight: 400;
    color: #b8e4e9;
}
.container p{
    margin-bottom: 35px;
    padding-right: 55px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #c4c2c2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    /* vertical-align: middle; */
    padding: 7px 30px;
    background-color: #f79a2a;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    margin-left: 400px;
}
.hamburger{
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger span{
  width: 25px;
  height: 5px;
  background: rgb(166, 9, 9);
  border-radius: 2px;
}