body{
    background-color: black;
    background: 
    linear-gradient(rgba(22, 22, 36, 0.896),rgba(22, 22, 36, 0.896)), url(restaurant/bgwbsite.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
}
.navbar{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 35px;
}
.logo{
    display: flex;
    align-items: center;
    color: #f3ac26;
    font-size: 32px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    width: 50px; 
    height: 50px;
    margin-right: 5px;
    
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;

}
.nav-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}

#login-btn{
    padding: 8px 16px;
    width: 130px;
    height: 45px;
    border: none;
    background-color: #f3ac26;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.image{
    position: absolute;
    top: 150px;
    left: 900px;
    width: 529px;
    height: 536px;
    background-color: #000000;
    border: solid #000000;
    border-width: 11px;
    border-radius: 100%;
}
.image img{
    width: 530px;
    
}
.text{
    width: 600px;
    margin-left: 60px;
    margin-top: 150px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: #ffffff;
    line-height: 98px;
}
p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
#bookatable{
    padding: 8px 16px;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    margin-top: 25px;
    border: none;
    background-color: #f3ac26;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
}