*{
    margin: ;
    padding: 5p
    ;
}
#box1{
    color: rgb(181, 109, 249);
    font-family: t;
}
.box2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: deeppink;
}
