*{
    background-color: rgb(9, 15, 15);
    padding: 4px;
}
.class1 ul a{
    text-decoration: none;
    color: blueviolet;
    background-color: rgba(122, 224, 241, 0.732);
    border: solid rgb(172, 113, 138) ;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
li{
    list-style-type: none;
}
h1{
    text-align: center;
    color: brown;
    text-decoration: underline;

}
.para1{
    color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgba(31, 53, 53, 0.505);
     border: 1.6px solid rgb(179, 177, 177); 
     border-radius: 8px;
     padding: 10px;
}
.para2{
    color: rgb(197, 150, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgba(50, 5, 78, 0.505);
     border: 1.6px solid rgb(179, 177, 177); 
     border-radius: 8px;
     padding: 10px;
}
.para3{
    color: rgb(255, 127, 127);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgba(93, 3, 3, 0.505);
     border: 1.6px solid rgb(179, 177, 177); 
     border-radius: 8px;
     padding: 10px;
} */
